.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.menuContent {
  width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  padding: 20px;
  z-index: 100;
}

.navList li:not(:last-child) {
  margin-bottom: 10px;
}
